.container {
    width:100%;
    border:1px solid #d3d3d3;
}
.container div {
    width:100%;
}
.container .header {
    background-color:#8AC9B7;
    padding: 2px;
    cursor: pointer;
    font-weight: bold;
}
.container .content {
    display: /images/TCLogo.png;
    padding : 5px;
}